<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body style="background-color: #e1e5ff;">
	<nav th:replace="layout :: header"></nav>

	<div class="container-fluid">
		<div class="row col-lg-4 col-lg-offset-4"
			 style="margin-top: 10%; background-color: #fff; padding: 20px; margin-left: 35%;">
			<h1 align="center">Customer Info</h1>
			<form method="post" th:action="${'/customer'}" th:object="${customer}">
				<div class="form-group" style="width: 400px;">
					<input type="text" th:field="*{customerName}" id="customerName"
						   class="form-control input-lg" placeholder="CustomerName" required/>
				</div>
				<div class="form-group" style="width: 400px;">
					<input type="text" th:field="*{customerAddress}"
						   id="customerAddress" class="form-control input-lg"
						   placeholder="customerAddress" required/>
				</div>
				<div class="">
					<input type="submit" name="submit"
						   class="btn btn-lg btn-primary btn-block" value="Submit"/>
				</div>
			</form>
		</div>
	</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>