<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body style="background-color: #e1e5ff;">
	<div class="container">

		<div class="row" style="margin-top: 60px; margin-left: 300px;">
			<div
				class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<form th:action="@{/j_spring_security_login}" method="POST">
					<fieldset>
						<h1>Please Sign In</h1>
						<p th:text="${message}" style="color: red;"></p>
						<p th:text="${successMessage}" style="color: red;"></p>
						<div class="form-group">
							<input type="text" name="username" id="username"
								class="form-control input-lg" placeholder="UserName"
								 required />
						</div>
						<div class="form-group">
							<input type="password" name="password" id="password"
								class="form-control input-lg" placeholder="Password" required />
						</div>
						
						<div class="form-group">
							Remember me: 
							<input type="checkbox" name="remember-me" />
						</div>

						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<input type="submit" name="submit" class="btn btn-lg btn-primary btn-block"
									value="Sign In" />
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<a th:href="@{/register/}">Create a new account?</a>
							</div>
							
						</div>
					</fieldset>
					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
				</form>
			</div>
		</div>
	</div>
</body>
</html>